.button-link {
    font-family: Arial;
    font-size: 1.5vw;
    font-weight: 520;
    text-decoration: none;
    color: black;
    padding: 0 3%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.button-link:hover {
    background-color: #232629;
    color: white;
}
.button-linkN{
    font-family: Arial;
    font-size: 1.7vw;
    margin: 1.5vw;
    font-weight: 620;
    text-decoration: none;
    color: black;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s
}
.button-linkN:hover {
    background-color: #232629;
    color: white;
}
.nav-display{
    height: 8vh;
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-color: rgb(226, 219, 219);
    border-bottom-style: solid;
}

#button-theme{
    font-family: Arial;
    font-size: 1.5vw;
    margin: 1.5vw;
    font-weight: 520;
    text-decoration: none;
    color: black;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.ava{
    margin: 1vw;
    height: 20%;
    width: 20%;
}
.intro{
    display: flex;
    height: 100%;
}
.left-intro{
    width: 30vw;

}
.left-introtop{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
}
.left-introbot h5{
    font-family: Arial;color: rgb(95, 89, 89);margin-top: 1vw;
    font-size: calc(7px + 0.5vw);
}
.left-introbot{ 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    margin: 0;
}
.left-intro p {
    font-family: Arial;color: rgb(95, 89, 89);margin-top: 1vw;
    font-size: calc(7px + 0.5vw);
}
.right-intro{
    width: 70vw;
    margin-top: 1vw;
    margin-right: 20vw;
    margin-left: 5vw;
}
.right-intro h1 {
    font-family: arial;
    font-size:2vw;

}
.right-intro p {
    font-family: Arial;
    font-size:1.5vw;
    font-weight: 300;
    color: rgb(95, 89, 89);
    margin-left: 1vw;
}
.right-intro li {
    font-family: Arial;
    font-size:1.5vw;
    font-weight: 300;
    color: rgb(95, 89, 89);
}
.right-intro a {
    text-decoration-line: none;
    color: rgb(118, 135, 231);
}
.right-intro a:hover{
    text-decoration: underline;
}
.avatar{
    width: 50%;
    border-radius: 100%;
    object-fit: cover;
    border-style: solid;
    border-width: 4px;
    border-color: #a1a4a7;
}
.info{
    width: 90%;
    padding-left: 5%;
}
.info-line {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-bottom: 1vw; 
    font-family: Arial;color: rgb(95, 89, 89)
}
.info-line a {
    text-decoration: none;
    font-family: Arial;color: rgb(95, 89, 89);margin-top: 1vw;
}
.info-line a:hover{
    text-decoration: underline;
}
.info-line i {
    min-width: 20px; 
    text-align: center;
}

.pro-intro{
    display: flex;
    flex-direction: row;
    margin: 1vw;
}
.propic{
    width: 40%;
}
.propic img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}
.proinfo{
    width:60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.proinfo a {
    text-decoration-line: none;
    color: rgb(118, 135, 231);
}
.proinfo p{
    font-size: calc(2px + 1.5vw)
}


